.yatzy-main {
    float: left;
    margin-left: 50px;
}
.logo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
table {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}
td {
    min-width: 80px;
}
td:nth-child(even) {
    background-color: silver;
}
.highlight td {
    background-color: gainsboro;
    border-width: 2px;
}
.highlight td:first-child {
    background-color: gray;
    font-weight: bolder;
}
input {
    font-size: 1.0em;
    width: 80px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

{

}
.textcustomization
{
    text-align: center;
}
.imagecustomization
{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.loginalignment
{
    text-align: right;
}