.yatzy-main {
    float: left;
    margin-left: 50px;
}

.logo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

input.login[type=text],
input.login[type=password] {
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

span.psw {
    float: right;
    padding-top: 16px;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}

td {
    min-width: 80px;
}

td:nth-child(even) {
    background-color: silver;
}

.highlight td {
    background-color: gainsboro;
    border-width: 2px;
}

.highlight td:first-child {
    background-color: gray;
    font-weight: bolder;
}

input {
    font-size: 1.0em;
    width: 80px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
}