.messageBox {
    float: left;
}

.messages {
    background-color: rgb(131, 131, 223);
}

.boxDescription {
    background-color: rgb(131, 131, 223);
}

.messageField {
    background-color: rgb(88, 209, 108) !important;
}

ul {
    margin-top: auto;
    border-top: 1px solid rgb(1, 1, 4);
 
  }
  
  liChat {
    /* border: 1px solid red; */
    background-color: rgb(88, 209, 108);
  }
  divChat {
    display: flex;
    justify-content: space-between;
      /* border: 1px solid blue; */
      /* float: left; */
  }
  spanChat {
      /* border: 1px solid yellow; */
      background-color: rgb(131, 131, 223);
      /* float: right; */
  }
  spanChat:hover {
    /* border: 1px solid yellow; */
    cursor: pointer;
    /* float: right; */
}