.yatzy-main {
    float: left;
    margin-left: 50px;
}

.logo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    padding-block-end: 10px;
}

input#uname[type=text],
input#psw[type=password] {
    width: 90%;
    padding: 10px 0px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

span.psw {
    float: right;
    padding-top: 16px;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    border-collapse: collapse;
}

td {
    min-width: 80px;
    border: 1px solid black;
}

td:nth-child(even) {
    background-color: silver;
}

.highlight td {
    background-color: gainsboro;
}

.highlight td:first-child {
    background-color: gray;
    font-weight: bolder;
}

input {
    font-size: 1.0em;
    width: 80px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
}

/* li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

/* li a:hover {
    background-color: #111;
}

.textcustomization {
    text-align: center;
}

.imagecustomization {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* .loginalignment {
    text-align: right;
} */
aside {
    border: 1px solid rgb(10, 9, 9);
    border-width: 2px;
    float: right;
    margin: 180px 1.5%;
    width: 550px;
    height: 100px;
}

.dice-container {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 10px;
}

.dice-container img {
    width: 70px;
    height: 70px;
    padding: 5px;
}

.checkbox {
    position: absolute;
    bottom: 0px;
    right: 18px;
}
#under-dice-box {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#diceRollsLeft {
    padding-right: 55px;
}
#rollButtonSection {
    padding-right: 20px;
    margin-left: auto;
}